<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}

{% if user.is_authenticated %}
       <div class="jumbotron">
<h1>Welcome to the site {{user.username|capfirst}}!</h1>
           You have already registered!
           </div>
{% else %}
       <div class="jumbotron">
<h1>Welcome to the site!</h1>
    Please register!</div>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{user_form.as_p}}
    {{profile_form.as_p}}
        <input type="submit" value="Register" class="submit">
    </form>
    {% endif %}
{% endblock %}